<a-scene>
  <a-assets>
    <a-asset-item id="table-obj"
                  src="./assets/obj_table3a.obj"></a-asset-item>
    <a-asset-item id="table-mtl"
                  src="./assets/obj_table3a.mtl"></a-asset-item>
    <a-asset-item id="red-hero-obj"
                  src="./assets/red-knight.obj"></a-asset-item>
    <a-asset-item id="red-hero-mtl"
                  src="./assets/red-knight.mtl"></a-asset-item>
  </a-assets>

  <a-locomotor>
    <!-- Make sure your super-hands entities also have controller and collider components -->
    <a-entity hand-controls="left"
              super-hands
              sphere-collider="objects: a-box"></a-entity>
    <a-entity hand-controls="right"
              super-hands
              sphere-collider="objects: a-box"></a-entity>
  </a-locomotor>

  <a-entity obj-model="obj: #table-obj; mtl: #table-mtl"
            scale="0.1 0.1 0.1"
            position="0 0 -2"
            rotation="0 90 0"></a-entity>

  <a-entity obj-model="obj: #red-hero-obj; mtl: #red-hero-mtl"
            scale="0.01 0.01 0.01"
            position="0 0.7 -2"
            rotation="0 -45 0"
            grabbable
            stretchable
            drag-droppable>
  </a-entity>
</a-scene>
